<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
        
        <script src="/static/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
            
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        
        <title>Besoin d'un mot de passe - uShare</title>
    </head>
    
    <body class="body-parallax">
        
        <div class="plane-scene">
            <ul id="scene" data-scalar-x="30" data-scalar-y="20">
                <li class="layer plane" data-depth="1.00"><img src="static/parallax/plane.png"></li>
            </ul>
        </div>
        
        <div class="cloud-scene1">
            <ul id="scene2" data-scalar-x="30" data-scalar-y="20">
                <li class="layer cloud" data-depth="0.7"><img src="static/parallax/cloud.png"></li>
            </ul>
        </div>
        
        <div class="cloud-scene2">
            <ul id="scene3" data-scalar-x="30" data-scalar-y="20">
                <li class="layer cloud" data-depth="0.9"><img src="static/parallax/cloud.png"></li>
            </ul>
        </div>
        
        <div class="cloud-scene3">
            <ul id="scene4" data-scalar-x="30" data-scalar-y="20">
                <li class="layer cloud" data-depth="0.5"><img src="static/parallax/cloud.png"></li>
            </ul>
        </div>
        
        <div class="enter-password">
            <div class="row">
                <form class="col l5 offset-l4 s12" method="post">
                    <div class="row">
                        
                        <div class="input-field col s10">
                            <input id="password" name="password" type="text" class="validate">
                            <label for="password">Mot de passe</label>
                        </div>
                        
                        <div class="col s2 center-align">
                            <p>
                                <button class="waves-effect waves-light btn" type="submit" name="action">
                                    Envoyer      
                                </button>
                            </p>
                        </div>
                            
                    </div>
                </form>
            </div>
        </div>

        <script src="static/parallax/parallax.min.js"></script>
        <script>
            var scene = document.getElementById('scene');
            var parallax = new Parallax(scene);
            
            var scene2 = document.getElementById('scene2');
            var parallax2 = new Parallax(scene2);
            parallax2.invert(false, false);
            
            var scene3 = document.getElementById('scene3');
            var parallax3 = new Parallax(scene3);
            parallax3.invert(false, false);
            
            var scene4 = document.getElementById('scene4');
            var parallax4 = new Parallax(scene4);
            parallax4.invert(false, false);
        </script>
    </body>
</html>